@post_divider_color: #eee;

.stream_container {
    overflow: auto;
    position: absolute;
    bottom: 0;
    top: 0;
}

.post {
    border-bottom: 1px solid @post_divider_color;
    padding-bottom: 3px;
    padding-top: 3px;
}

.post .avatar {
    height: 32px;
    width: 32px;
}