@post_divider_color: #eee;
@highlight_color: #FFF694;

@statusbar_height: 20px;
@toolbar_width: 40px;

.page_container {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    top: 0;
    position: absolute;
    bottom: 0;
}

.toolbar {
    width: @toolbar_width;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;

    .btn {
        height: 32px;
    }
}

.all_streams {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-direction: row;
    -moz-flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap;
}

.stream {
    width: 440px;
}

.stream_container {
    position: relative;
    /*bottom: 10px;*/
    /*top: 10px;*/
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 7px;
    margin-bottom: 5px;
}

.stream_container .statusbar {
    height: @statusbar_height;
}

.stream_post_container {
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: @statusbar_height;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 7px;
    padding-right: 7px;
}

.post {
    border-bottom: 1px solid @post_divider_color;
    padding-bottom: 7px;
    padding-top: 7px;
}

.post_content {
    word-wrap: break-word;
}

.post .avatar {
    height: 32px;
    width: 32px;
}

.post.new {
    background-color: @highlight_color;
}